<<<<<<< HEAD
.footer {
  top: 1405px;
  left: 0px;
  width: 100%;
  position: absolute;
}
=======
.footer{
    top:1405px;
    left:0px;
    width:100%;
    position: absolute;
}
>>>>>>> 999c7a70c5cb79c41603b7e2679ffbfb3f2a7927
